body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
  }
  
  path {
    fill: none;
    stroke: rgb(227, 207, 192);
  }

  .link {
    fill: none;
    stroke:silver;
  }
  .glow {

    /* This trick adds a heavy white shadow around the text. */
    text-shadow:
     -1px -1px 3px white,
     -1px  1px 3px white,
      1px -1px 3px white,
      1px  1px 3px white;

  }
  text {
    font-family: "Calibri", serif;
    pointer-events: none;
  }

  rect{
    stroke:blanchedalmond;
    stroke-width: 10px;
  }